<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/addDepartment">
            <label for="deptname">Department Name</label>
            <p><input type="text" name="deptname" /></p>
            <label for="locID">LoactionID</label>
            <p><input type="text" name="locID" /></p>
            <input type="submit" value="Submit">
            <p>{{msg}}</p>

    </form>
    
</body>
</html>
